*{
    background-color: rgb(116, 1, 1);
    font-family: 'Roboto Mono', monospace;
    overflow-y: hidden;
}
body{
    background-image: url("img/pokebal.png");
    background-size: 8.9rem;
    background-repeat: repeat-y;
}
.logo{
    width: 150px;
    height: 70px;
}
.poke{
    width: 150px;
    height: 70px;
    margin-top:1px;
    margin-left: 785px;
}
.contenido{
    background-color: rgb(209, 1, 1);
    width: 600px;
    height: 600px;
    margin-left: 150px;
    border-radius: 10px;
    border: solid black;
}
.contenido2{
    background-color: rgb(209, 1, 1);
    width: 800px;
    height: 600px;
    margin-left: 760px;
    margin-top: -605px;
    border-radius: 10px;
    border: solid black;
}
.titulo{
    text-align: center;
    color: rgba(255, 255, 255, 0.678);
    background-color: rgba(255, 255, 255, 0);
    font-size: 20px;
    background-image:url("img/pokebal.png");
    background-size: 1.89rem;
    background-repeat: repeat-x;
    margin-left: 132px;
}
h1{
    margin-top: 40px;
    color: white;
    background: radial-gradient(circle, rgba(0,0,0,0.896796218487395) 0%, rgba(255, 0, 0, 0) 50%);
}
.imagen{
    background-color: rgb(255, 255, 255);
    width: 300px;
    height: 250px;
    border-radius: 10px;
    margin-left: 30px;
    margin-top: 50px;
}
.imagen2{
    background-color: rgb(255, 255, 255);
    width: 200px;
    height: 200px;
    margin-left: 350px;
    margin-top: -200px;
    border-radius: 10px;
}
.imagen3{
    background-color: rgb(255, 255, 255);
    width: 100px;
    height: 100px;
    margin-left: 620px;
    margin-top: -500px;
    border-radius: 10px;
}
.imagen4{
    background-color: rgb(255, 255, 255);
    width: 100px;
    height: 100px;
    margin-left: 620px;
    margin-top: 30px;
    border-radius: 10px;
}
#pokeImg4{
    width:100px;
    height: 100px;
    background-color: rgb(36, 35, 35);
}
#pokeImg3{
    width:100px;
    height: 100px;
    background-color: rgb(36, 35, 35);
}
#pokeImg2{
    width:200px;
    height: 200px;
    background-color: rgb(36, 35, 35);
}
#pokeImg{
    width:300px;
    height: 250px;
    background-color: rgb(36, 35, 35);
}
#pokemon{
    background-color: rgba(255, 255, 255, 0.603);
    border-radius: 10px;
    font-size: 20px;
    margin-left:30px;
    margin-top: 50px;
    height: 50px;
    width: 450px;
    border-color: black;
}
.name{
    font-size: 30px;
    text-align: center;
    background-color: rgb(209, 1, 1);
    color: white;
    text-transform:capitalize;
    margin-top: -10px;
}
.id{
    font-size: 30px;
    text-align: center;
    background-color: rgb(209, 1, 1);
    color: white;
}
.btnPokemon{
    background-color: black;
    width: 60px;
    height: 60px;
    margin-left: 10px;
    border-radius: 50px;
    border-color: white;
}
.btnPokemon:hover{
    background-color: rgb(255, 255, 255);
}
.info{
    background-color: rgb(31, 31, 31);
    width: 500px;
    height: 500px;
    border-radius: 10px;
    margin-left: 45px;
    margin-top: 50px;
    border: solid rgb(255, 255, 255);
}
.tipo{
    font-size: 20px;
    margin-left: 25px;
    margin-top: 35px;
    color: white;
    background-color: rgb(31, 31, 31);
    text-transform: capitalize;
}
.movi{
    font-size: 20px;
    margin-left: 25px;
    margin-top:-10px;
    color: white;
    background-color: rgb(31, 31, 31);
    text-transform: capitalize;
    width: 450px;
    height: 150px;
}
textarea {
    overflow-y: scroll;
    resize: none;
    border-color: rgb(31, 31, 31);

}
::-webkit-scrollbar {
    -webkit-appearance: none;
}
::-webkit-scrollbar:vertical {
    width: 5px;
}
::-webkit-scrollbar-thumb {
    background-color: #797979;
    border-radius: 20px;
    border: 2px solid #f1f2f3;
}
::-webkit-scrollbar-track {
    border-radius: 10px;  
}
.habilidad{
    font-size: 20px;
    margin-left: 25px;
    margin-top: 10px;
    color: white;
    background-color: rgb(31, 31, 31);
    text-transform: capitalize;
}
.distica{
    background-color: rgb(31, 31, 31);
    font-size:20px;
    margin-left: 22px;
    color: white;
    text-align: center;
    margin-top: 10px;
}
.hp, .atk, .def,.satk, .sdef, .spd{
    background-color: rgb(31, 31, 31);
    color: white;
    margin-top:-15px;
    margin-left: 30px;
    font-size: 20px;
    text-align: center;
}
.altura{
    background-color: rgb(31, 31, 31);
    width: 200px;
    height: 100px;
    border-radius: 10px;
    margin-left: 570px;
    margin-top: -245px;
    border: solid rgb(255, 255, 255);
}
.alt{
    font-size: 20px;
    margin-left: 25px;
    margin-top: 35px;
    color: white;
    background-color: rgb(31, 31, 31);
}
.peso1{
    background-color: rgb(31, 31, 31);
    width: 200px;
    height: 100px;
    border-radius: 10px;
    margin-left: 570px;
    margin-top: 30px;
    border: solid rgb(255, 255, 255);
}
.peso{
    font-size: 20px;
    margin-left: 25px;
    margin-top: 35px;
    color: white;
    background-color: rgb(31, 31, 31);
}
.estadistica{
    text-align: center;
}

@media screen and (min-width:768px) and (max-width: 1023px)
{
    *{
        
        overflow-y: visible;
        
    }
    body{
        background-image: url("img/pokebal.png");
        background-size: 8.2rem;
        background-repeat: repeat-y;
    }
    .logo{
        width: 150px;
        height: 70px;
    }
    .poke{
        width: 150px;
        height: 70px;
        margin-top:1px;
        margin-left: 350px;
    }

    .titulo{
        text-align: center;
        color: rgba(255, 255, 255, 0.678);
        background-color: rgba(255, 255, 255, 0);
        font-size: 20px;
        background-image:url("img/pokebal.png");
        background-size: 3rem;
        background-repeat: repeat-x;
        margin-left: 132px;
    }
    .contenido{
        background-color: rgb(209, 1, 1);
        width: 610px;
        height: 600px;
        margin-left: 150px;
        border-radius: 10px;
        border: solid black;
    }
    .contenido2{
        background-color: rgb(209, 1, 1);
        width: 610px;
        height: 930px;
        margin-left: 150px;
        margin-top: 20px;
        border-radius: 10px;
        border: solid black;
    }
    .imagen{
        background-color: rgb(255, 255, 255);
        width: 300px;
        height: 250px;
        border-radius: 10px;
        margin-left: 30px;
        margin-top: 50px;
    }
    .imagen2{
        background-color: rgb(255, 255, 255);
        width: 200px;
        height: 200px;
        margin-left: 350px;
        margin-top: -200px;
        border-radius: 10px;
    }
   
    #pokeImg2{
        width:200px;
        height: 200px;
        background-color: rgb(36, 35, 35);
        border-radius: 10px;
    }
    #pokeImg{
        width:300px;
        height: 250px;
        background-color: rgb(36, 35, 35);
        border-radius: 10px;
    }
    .imagen3{
        background-color: rgb(255, 255, 255);
        width: 130px;
        height: 130px;
        margin-left: 400px;
        margin-top: -280px;
        border-radius:  10px;
    }
    .imagen4{
        background-color: rgb(255, 255, 255);
        width: 130px;
        height: 130px;
        margin-left: 400px;
        margin-top: 30px;
        border-radius: 10px;
    }
    #pokeImg4{
        width:130px;
        height: 130px;
        background-color: rgb(36, 35, 35);
        border-radius:  10px;
    }
    #pokeImg3{
        width:130px;
        height: 130px;
        background-color: rgb(36, 35, 35);
         border-radius:  10px;
    }
    .altura{
        background-color: rgb(31, 31, 31);
        width: 200px;
        height: 100px;
        border-radius: 10px;
        margin-left: 50px;
        margin-top: 90px;
        border: solid rgb(255, 255, 255);
    }
    .alt{
        font-size: 20px;
        margin-left: 25px;
        margin-top: 35px;
        color: white;
        background-color: rgb(31, 31, 31);
    }
    .peso1{
        background-color: rgb(31, 31, 31);
        width: 200px;
        height: 100px;
        border-radius: 10px;
        margin-left: 50px;
        margin-top: 30px;
        border: solid rgb(255, 255, 255);
    }
    .peso{
        font-size: 20px;
        margin-left: 25px;
        margin-top: 35px;
        color: white;
        background-color: rgb(31, 31, 31);
    }
}

@media screen and (max-width: 767px)
{
    *{
        
        overflow-y: visible;
        
    }
    body{
        background-image: url("img/pokebal.png");
        background-size: 5rem;
        background-repeat: repeat-y;
    }
    .logo{
        width: 150px;
        height: 70px;
    }
    .poke{
        width: 150px;
        height: 70px;
        margin-top:1px;
        margin-left: 200px;
    }
    #pokemon{
        background-color: rgba(255, 255, 255, 0.603);
        border-radius: 10px;
        font-size: 15px;
        margin-left:30px;
        margin-top: 50px;
        height: 70px;
        width: 250px;
        border-color: black;
    }
    .name{
        font-size: 25px;
        text-align: left;
        background-color: rgb(209, 1, 1);
        color: white;
        text-transform:capitalize;
        margin-top: -10px;
        margin-left: 60px;
    }
    .id{
        font-size: 25px;
        text-align: left;
        background-color: rgb(209, 1, 1);
        color: white;
        margin-left: 150px;
    }
    .btnPokemon{
        background-color: black;
        width: 50px;
        height: 50px;
        margin-left: 10px;
        border-radius: 50px;
        border-color: white;
    }

    .titulo{
        text-align: center;
        color: rgba(255, 255, 255, 0.678);
        background-color: rgba(255, 255, 255, 0);
        font-size: 20px;
        background-image:url("img/pokebal.png");
        background-size: 2rem;
        background-repeat: repeat-x;
        margin-left: 100px;
    }
    .contenido{
        background-color: rgb(209, 1, 1);
        width: 370px;
        height: 600px;
        margin-left: 100px;
        border-radius: 10px;
        border: solid black;
    }
    .contenido2{
        background-color: rgb(209, 1, 1);
        width: 370px;
        height: 930px;
        margin-left: 100px;
        margin-top: 20px;
        border-radius: 10px;
        border: solid black;
    }
    .imagen{
        background-color: rgb(255, 255, 255);
        width: 150px;
        height: 150px;
        border-radius: 10px;
        margin-left: 30px;
        margin-top: 50px;
    }
    .imagen2{
        background-color: rgb(255, 255, 255);
        width: 100px;
        height: 100px;
        margin-left: 250px;
        margin-top: -100px;
        border-radius: 10px;
    }
   
    #pokeImg2{
        width:100px;
        height: 100px;
        background-color: rgb(36, 35, 35);
        border-radius: 10px;
    }
    #pokeImg{
        width:150px;
        height: 150px;
        background-color: rgb(36, 35, 35);
        border-radius: 10px;
    }
    .imagen3{
        background-color: rgb(255, 255, 255);
        width: 100px;
        height: 100px;
        margin-left: 250px;
        margin-top: -210px;
        border-radius:  10px;
    }
    .imagen4{
        background-color: rgb(255, 255, 255);
        width: 100px;
        height: 100px;
        margin-left: 250px;
        margin-top: 30px;
        border-radius: 10px;
    }
    #pokeImg4{
        width:100px;
        height: 100px;
        background-color: rgb(36, 35, 35);
        border-radius:  10px;
    }
    #pokeImg3{
        width:100px;
        height: 100px;
        background-color: rgb(36, 35, 35);
         border-radius:  10px;
    }
    .altura{
        background-color: rgb(31, 31, 31);
        width: 150px;
        height: 70px;
        border-radius: 10px;
        margin-left: 50px;
        margin-top: 90px;
        border: solid rgb(255, 255, 255);
    }
    .alt{
        font-size: 15px;
        margin-left: 15px;
        margin-top: 25px;
        color: white;
        background-color: rgb(31, 31, 31);
    }
    .peso1{
        background-color: rgb(31, 31, 31);
        width: 150px;
        height: 70px;
        border-radius: 10px;
        margin-left: 50px;
        margin-top: 30px;
        border: solid rgb(255, 255, 255);
    }
    .peso{
        font-size: 15px;
        margin-left: 25px;
        margin-top: 25px;
        color: white;
        background-color: rgb(31, 31, 31);
    }
    .info{
        background-color: rgb(31, 31, 31);
        width: 300px;
        height: 500px;
        border-radius: 10px;
        margin-left: 45px;
        margin-top: 50px;
        border: solid rgb(255, 255, 255);
    }
    .tipo{
        font-size: 18px;
        margin-left: 25px;
        margin-top: 35px;
        color: white;
        background-color: rgb(31, 31, 31);
        text-transform: capitalize;
    }
    .movi{
        font-size: 18px;
        margin-left: 25px;
        margin-top:-10px;
        color: white;
        background-color: rgb(31, 31, 31);
        text-transform: capitalize;
        width: 250px;
        height: 150px;
    }
    textarea {
        overflow-y: scroll;
        resize: none;
        border-color: rgb(31, 31, 31);
    }
    .habilidad{
        font-size: 15px;
        margin-left: 25px;
        margin-top: 10px;
        color: white;
        background-color: rgb(31, 31, 31);
        text-transform: capitalize;
    }
    .distica{
        background-color: rgb(31, 31, 31);
        font-size:18px;
        margin-left: 22px;
        color: white;
        text-align: center;
        margin-top: 10px;
    }
    .hp, .atk, .def,.satk, .sdef, .spd{
        background-color: rgb(31, 31, 31);
        color: white;
        margin-top:-15px;
        margin-left: 30px;
        font-size: 18px;
        text-align: center;
    }
}
